nav ul {
	list-style-type: none;

}
nav ul li {
	display: inline;
}
span {
	float: right;
}
.icon{
	width: 50px;

}
img{
	width: 50%;
	height:12%;
	


}
body{
	color:#af1820;
	font size: 20px;
}
div img{
	float: right;
}